@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.text-txtColor {
  @apply text-[#FFF1E2];
}
.text-txtColor2 {
  @apply text-[#E2E2FF];
}
.text-txtColor3 {
  @apply text-[#FFE2F7];
}

.burger-bg {
  @apply bg-darkRed;
}

.borederColor {
  @apply border-borederColor;
}

.borederColor-2 {
  @apply border-[#9698D0];
}

.borederColor-3 {
  @apply border-[#DB8BCE];
}

.burger-bg-2 {
  background: linear-gradient(0deg, #141d48 0%, #04061c 100%);
}

.burger-bg-3 {
  background: linear-gradient(0deg, #481436 0%, #1c0414 100%);
}

.dark-to-light {
  @apply bg-[linear-gradient(93deg,_#1E0202_2.35%,_rgba(72,_13,_13,_0.40)_114.91%)];
}
.dark-to-light-2 {
  @apply bg-[linear-gradient(93deg,_#020B1E_2.35%,_rgba(13,_19,_72,_0.40)_114.91%)];
}
.dark-to-light-3 {
  @apply bg-[linear-gradient(93deg,_#1E0215_2.35%,_rgba(72,_13,_55,_0.40)_114.91%)];
}

.lightGradient {
  background: linear-gradient(94deg, #fff1e2 -4.1%, #a07946 112.18%);
}

.lightGradient-2 {
  background: linear-gradient(94deg, #e6e2ff -4.1%, #464ea0 112.18%);
}

.lightGradient-3 {
  background: linear-gradient(94deg, #ffe2fc -4.1%, #b633a0 112.18%);
}

.txt-gradient {
  background: linear-gradient(94deg, #fff1e2 -4.1%, #a07946 112.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-gradient-2 {
  background: linear-gradient(94deg, #e6e2ff -4.1%, #464ea0 112.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-gradient-3 {
  background: linear-gradient(94deg, #ffe2fc -4.1%, #b633a0 112.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.bgFirstAndSecondBlocks {
  width: 100%;
  height: auto;
  max-height: 1627px;
  background-image: url("/images/bg-1-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgFirstAndSecondBlocks-second {
  width: 100%;
  height: auto;
  max-height: 1627px;
  background-image: url("/images/bg-1-2-2v.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgFirstAndSecondBlocks-third {
  width: 100%;
  height: auto;
  max-height: 1627px;
  background-image: url("/images/bg-1-2-3v.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.border-gradient-rounded {
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(
        94deg,
        #36070b 2.35%,
        #28060a 22.87%,
        #9c1724 114.91%
      )
      padding-box,
    linear-gradient(94deg, #fff1e2 -4.1%, #a07946 112.18%) border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.border-gradient-rounded-2 {
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(
        94deg,
        #071136 -14.73%,
        #060828 22.87%,
        #171d9c 97.81%
      )
      padding-box,
    linear-gradient(93deg, #e6e2ff 2.35%, #464ea0 114.91%) border-box;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
}

.border-gradient-rounded-3 {
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(
        94deg,
        #360722 -14.73%,
        #280619 22.87%,
        #9c175e 97.81%
      )
      padding-box,
    linear-gradient(93deg, #ffe2fc 2.35%, #b633a0 114.91%) border-box;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
}

.slider {
  overflow: visible !important;
}
